# System files
.DS_Store
Client/.DS_Store
Client/Thumbs.db

# IDEs and editors
.idea/
.vscode/

# Environment Variables
/.env

### Client ###

# Node
Client/node_modules

# Logs
Client/logs
Client/*.log
Client/npm-debug.log*
Client/yarn-debug.log*
Client/yarn-error.log*
Client/pnpm-debug.log*
Client/lerna-debug.log*
Client/libpeerconnection.log
Client/testem.log

# Compiled output
Client/dist
Client/dist-ssr
Client/tmp
Client/out-tsc
Client/bazel-out

# Miscellaneous
Client/*.local
Client/.angular/cache
Client/.sass-cache/
Client/connect.lock
Client/coverage
Client/typings
Client/__screenshots__/

### Server ###

# Gradle
Server/.gradle/
Server/build/
Server/target/
Server/bin/

# Misc
Server/samples/
Server/out/
/docker-compose.yaml
/Dockerfile
